@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.header__container {
  width: 715px;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 278px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1132px;
  }
}

.program__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.program__features {
  width: 390px;
}

.program__title {
  font-size: 36px;
  line-height: 1.81;
  margin-bottom: 8px;
}

.program__list {
  padding: 20px 0 16px 0;
}

.program__item {
  margin-top: 16px;
}

.content__list {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__img {
  position: absolute;
  top: -25%;
  left: 25%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1200ms;
  transition: -webkit-transform 1200ms;
  transition: transform 1200ms;
  transition: transform 1200ms, -webkit-transform 1200ms;
}

.content__item {
  width: 130px;
  height: 130px;
  padding-top: 50px;
  position: relative;
  text-align: center;
  border-radius: 50%;
  background-color: #FEF3E4;
  -webkit-box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
          box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  cursor: pointer;
  -webkit-transition: background-color 1000ms, -webkit-transform 1000ms, -webkit-box-shadow 1000ms;
  transition: background-color 1000ms, -webkit-transform 1000ms, -webkit-box-shadow 1000ms;
  transition: background-color 1000ms, transform 1000ms, box-shadow 1000ms;
  transition: background-color 1000ms, transform 1000ms, box-shadow 1000ms, -webkit-transform 1000ms, -webkit-box-shadow 1000ms;
}

@media screen and (min-width: 768px) {
  .content__item {
    width: 152px;
    height: 152px;
    padding-top: 53px;
  }
}

@media screen and (min-width: 1280px) {
  .content__item {
    width: 180px;
    height: 180px;
    padding-top: 65px;
  }
}

.content__item:hover {
  background-color: #FFE7C9;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 8px 8px rgba(171, 129, 108, 0.25);
          box-shadow: 0px 8px 8px rgba(171, 129, 108, 0.25);
}

.content__item:hover .content__img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.content__title {
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (min-width: 1280px) {
  .content__title {
    font-size: 24px;
    line-height: 1.25;
  }
}

.content__text {
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (min-width: 768px) {
  .content__text {
    margin-top: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .content__text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.22;
  }
}

.content__icon {
  margin-top: 8px;
  width: 19px;
  height: 19px;
}

@media screen and (min-width: 768px) {
  .content__icon {
    width: 21px;
    height: 21px;
  }
}

@media screen and (min-width: 1280px) {
  .content__icon {
    width: 25px;
    height: 25px;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--body-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color);
}

@media screen and (min-width: 1280px) {
  body {
    background-color: var(--second-body-color);
    font-size: 18px;
    line-height: 1.22;
  }
}

.title {
  font-family: 'Caveat Brush', sans-serif;
  font-weight: 400;
  color: #2e2520;
}

.logo__icon {
  width: 96px;
  height: 44px;
}

@media screen and (min-width: 768px) {
  .logo__icon {
    width: 96px;
    height: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .logo__icon {
    width: 158px;
    height: 81px;
  }
}
/*# sourceMappingURL=main.css.map */