.logo__icon {
  width: 96px;
  height: 44px;
  
    @media screen and(min-width:$tablet) {
        width: 96px;
        height: 48px;
      }
    
      @media screen and(min-width:$desktop) {
        width: 158px;
        height: 81px;
      }
}